*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: #734B5E;
    flex-direction: column;
}
header{
    display: inline;
    width: 90%;
    margin: auto;
    padding: 10px;
    background: #BCBDC0;
    justify-content: center;
    text-align: center;
    align-items: center;
    
   
}
.search-add-bar{
    display: flex;
    background: #565857;
    text-align: center ;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 40px;
}
.add-button{
   width: 170px;
   height: 30px;
   border-radius: 10px;
   
}

.search-bar{
    display: flex;
    margin: auto;
}
.input-search{
    width: 350px;
    height: 31px;
    outline: none;
}
.lupa-icon{
    height: 24px;
}
.movies-list{
    background: #F5D3C8;
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    
    
}
.movie-container{
    display: flex;
    width: 31%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border: 1px solid #8A8D91;
   border-radius: 2%;
   background: #F5F3C9;
}
.title-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.id{
    margin: 20px;
}
.link{
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #734B5E;
}
.img{
    
    width: 80%;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.year{
    flex-direction: column;
    width: 100%;
    margin: 10px;
    font-weight: bolder;
}
.starring{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}
.directed-by{
    font-weight: bolder;
}

/* //////////////////////MENU PARA AÑADIR PELICULA///////////////////// */

.add-movie-hidden{
    display: none;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
   
    padding: 20px;
}
.add-movie{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:  auto;
   
    padding: 20px;
}
.add-movie-container{
    display: flex;
    width: 90%;
    margin: auto;
    background: #bacec4;
}
.add-input{
    width: 30%;
    margin: 10px;
    outline: none;
    height: 30px;
    padding: 5px;
}
.submit-button{
   height: 50px;
   padding: 2px;
   
}
.add-icon{
    
    height: 40px;
    padding: 2px;
}